<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          Contact Me
        </div>
        <ul class="breadcrumbs">
          <li>
            <%= link_to "Home" %>
            <span class="arrow_right"></span>
          </li>
          <li>
            <%= link_to "Contact", pages_contact_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section class="flat-row flat-iconbox style2">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="iconbox-item">
          <div class="iconbox style2">
            <div class="box-header">
              <div class="iconbox-icon">
                <%= image_tag "page/address.png" %>
              </div>
            </div>
            <div class="box-content">
              <div class="box-desc">
                <p>Dallas, TX</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="iconbox-item">
          <div class="iconbox style2">
            <div class="box-header">
              <div class="iconbox-icon">
                <%= image_tag "page/email.png" %>
              </div>
            </div>
            <div class="box-content">
              <div class="box-desc">
                <p>MonicaHoward.net</p>
                <p>jay.m.howard@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="iconbox-item">
          <div class="iconbox style2">
            <div class="box-header">
              <div class="iconbox-icon">
                <<%= image_tag "page/phone.png" %>
              </div>
            </div>
            <div class="box-content">
              <div class="box-desc">
                <p>682.220.2537</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="flat-contact">
  <div class="contact-map">
  <%= image_tag "https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" %>
  </div>
  <div class="contact-form parallax parallax1">
    <div class="contact-us">
      <h3>Contact Me</h3>
      <form action="#" method="get" accept-charset="utf-8">
        <div class="wrap-contact name">
          <input type="text" class="your-name" placeholder="Your name" name="yourname">
        </div>
        <div class="wrap-contact email">
          <input type="email" class="your-email" placeholder="Your email" name="youremail">
        </div>
        <div class="wrap-contact message">
          <textarea class="you-message" placeholder="Your message"></textarea>
        </div>
        <div class="btn-more">
          <a href="#" title="">Send message</a>
        </div>
      </form>
    </div>
    <div class="overlay"></div>
  </div><
  <div class="clearfix"></div>
</section>
