<%= form_for(@restaurant, :html => { multipart: true }) do |f| %>
  <div class="wrap-listing your-email">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="wrap-listing your-email">
    <%= f.label :street %>
    <%= f.text_field :street, class: "" %>

    <%= f.label :suite %>
    <%= f.text_field :suite %>
  </div>

  <div class="wrap-listing your-email">
    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>

  <div class="wrap-listing your-email">
    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label "Website" %>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>