<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          All Restaurant Listing
        </div>
        <ul class="breadcrumbs">
          <li>
            <%= link_to "Home", root_path %>
            <span class="arrow_right"></span>
          </li>
          <li>
            <p>All Restaurants </p>
            <span class="arrow_right"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section class="flat-row flat-imagebox style3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filter-result style2">
          <div class="result">
            <%= @restaurant.count %> Results Found
          </div>
          <ul class="arrange">
            <li class="active">
              <span class="ti-view-grid"></span>
            </li>
            <li>
              <span class="ti-view-list"></span>
            </li>
          </ul>
        </div><!-- /.filter-result -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <% unless @restaurant.blank? %>
      <% @restaurant.each do |x| %>

        <div class="col-sm-12">
          <div class="imagebox style2">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <%= image_tag x.image.url unless x.image.blank? %>
                  <%= link_to "Preview", restaurant_path(id: x.id) %>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title ad">
                  <%= link_to "#{x.name}", restaurant_path(id: x.id) %>
                </div>
                <ul class="rating">
                  <li><%= x.phone %></li>
                  <li><%= x.email %></li>
                </ul>
                <div class="box-desc">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
                <ul class="location">
                  <li class="address"><span class="ti-location-pin"></span> <%= x.city %>, <%= x.state %></li>
                </ul>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imagebox style2 -->
        </div><!-- /.col-sm-12 -->

      <% end %>
    <% end %>

  </div>
</section>