<section class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "Restaurants", restaurants_path %>
          </li>
          <li>
            <p><%= @restaurant.name %></p>

          </li>
        </ul>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->

<section class="flat-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title-left">
          <div class="box-title">
            <%= link_to @restaurant.name, restaurant_path %>
          </div><!-- /.box-title -->
          <ul class="box-address">
            <li class="address"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @restaurant.street %> <%= @restaurant.suite %> | <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %></li>
            <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><%= @restaurant.phone %></li>
          </ul><!-- /.box-address -->
        </div><!-- /.title-left -->
      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-title -->

<section class="flat-row flat-explore-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="text-box">
          <h3>Review</h3>
          <div class="text-desc">
            <!--review text goes here-->
          </div>
          <div class="btn-more">
            <%= link_to "Edit", edit_restaurant_path %>
          </div>
        </div>
      </div><!-- /.col-md-8 -->
      <div class="col-md-4">
        <div class="sidebar">
          <div class="box contact-box">
            <%= image_tag @restaurant.image.url unless @restaurant.image.blank? %>
          </div><!-- /#flat-map -->

          <div class="box contact-box">
            <ul class="contact-list">
              <li class="address"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @restaurant.street %> <%= @restaurant.suite %> | <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %></li>
              <li><i class="fa fa-phone" aria-hidden="true"></i><%= @restaurant.phone %></li>
              <li><i class="fa fa-globe" aria-hidden="true"></i><%= @restaurant.email %></li>
            </ul>
          </div>
        </div>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-explore-detail <-->


