<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header-wrap">
          <div id="logo" class="logo">
            <%= link_to "Two Cents App", root_path %>
          </div>

          <div class="nav-wrap">
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li>
                  <%= link_to "Restaurants" %>
                  <ul class="submenu">
                    <li>
                      <%= link_to "View All Restaurants", restaurants_path %>
                    </li>
                    <li>
                      <%= link_to "Add New Restaurant", new_restaurant_path %>
                    </li>
                  </ul>
                </li>
                <li>
                  <%= link_to "Explore" %>
                  <ul class="submenu">
                    <li>
                      <%= link_to "About", pages_about_path %>
                    </li>
                    <li>
                      <%= link_to "Contact", pages_contact_path %>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>

            <div class="button-header">
              <%= link_to "Add A New Restaurant", new_restaurant_path, class: "ti-plus" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>